<div class="container mt-5 mb-5">

    <div class="row">
  <!--   inserimento moto singole
        <div class="col-lg-4" *ngFor="let fd of motorsData">

            <div class="motorsbox mt-3 mb-3">
                <img src="{{fd.motorsImg}}">
                <h1>{{fd.motorsName}}</h1>
                <p>{{fd.motorsDetails}}</p>
                <p>{{fd.motorsPrice | currency:'INR'}}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>
    -->


    </div>

</div>