<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Sito Web di Lorenzo Bruni, Daniele Noccioli e Sudhir Schiavone</title>
</head>
<body>

  <main>
    <section>
      <h2>Benvenuti nel Sito Web Motors</h2>
      <p>Il nostro sito web è dedicato agli amanti delle moto. Siamo appassionati di due ruote e vogliamo condividere informazioni di moto.</p>
    </section>

    <section>
      <h2>Cosa offriamo</h2>
      <p>Il nostro sito web offre i seguenti contenuti e servizi:</p>
      <ul>
        <li>Una vasta raccolta di informazioni sui i modelli di moto.</li>
        <li>Listini prezzi e dettagli tecnici delle moto più popolari.</li>
        <li>Guide e consigli per l'acquisto, la manutenzione e la sicurezza delle moto.</li>
      </ul>
    </section>

    <section>
      <h2>Il nostro team</h2>
      <p>Siamo un gruppo di appassionati di moto . Il nostro team è composto da Lorenzo Bruni, Daniele Noccioli e Sudhir Schiavone.</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Sito Web delle Moto. Tutti i diritti sono riservati.</p>
  </footer>
</body>
</html>
