<div class="banner">
    <div class="content">
        <h1 class="mb-5">New Motorcycle At Your Door.</h1>
        <a routerLink="listino">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center">How to get <span class="highlight">a Motorcycle</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>select the Motorcycle</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
                <p>fill the details</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
                <p>your order delivered in some business days</p>
            </div>
        </div>
    </div>
</div>
<!-- marcabox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers <span class="highlight">Favourites Brand</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let marca of MarcaData;index as i">
            <div class="Motobox" *ngIf="i<=3">
                <img src="{{marca.Immagine}}" />
                <h1>{{marca.Nome}}</h1>
            </div>
        </div>
    </div>
    <a routerLink="listino" class="viewmorebtn">visualizza dettagli <i class="bi bi-arrow-right"></i></a>
</div>

<!-- motobox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers <span class="highlight">Favourites Moto</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let m of MotoData;index as i">
            <div class="Motobox" *ngIf="i<=3">
                <img src="{{m.Immagine}}" />
                <h1>{{m.Modello}}</h1>
                <p>{{m.Prezzo | currency:'EUR'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="listino" class="viewmorebtn">visualizza dettagli <i class="bi bi-arrow-right"></i></a>
</div>
