
<div class="container mt-5 mb-5">

    <div class="row" >
<!--  inserimento di tutte le moto     in divcol-lg-4 *ngFor="let fd of Motors.Data">-->
        <div class="col-lg-4">
            <div class="Motors.box mt-3 mb-3">
            <mat-card class="card">
                <mat-card-header>
                  <div  mat-card-avatar class="header-image"></div>
                  <mat-card-title><!--{{Motors.nome}}-->Shiba Inu</mat-card-title>
                </mat-card-header >
                <!--{{Motors.immagine_url}}-->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              
            <!--<div class="Motors.box mt-3 mb-3">
                <img src="{{fd.Motors.Img}}">
                <h1>{{fd.Motors.Name}}</h1>
                <p>{{fd.Motors.Details}}</p>
                <p>{{fd.Motors.Price | currency:'INR'}}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>-->
            
        </mat-card>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="Motors.box mt-3 mb-3">
        <mat-card class="card">
            <mat-card-header>
              <div  mat-card-avatar class="header-image"></div>
              <mat-card-title><!--{{Motors.nome}}-->Shiba Inu</mat-card-title>
            </mat-card-header >
            <!--{{Motors.immagine_url}}-->
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    </div>

</div>
<div class="col-lg-4">
    <div class="Motors.box mt-3 mb-3">
    <mat-card class="card">
        <mat-card-header>
          <div  mat-card-avatar class="header-image"></div>
          <mat-card-title><!--{{Motors.nome}}-->Shiba Inu</mat-card-title>
        </mat-card-header >
        <!--{{Motors.immagine_url}}-->
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
</mat-card>
</div>
</div>

</div>
<div class="row">
    <!--  inserimento di tutte le moto     in divcol-lg-4 *ngFor="let fd of Motors.Data">-->
            <div class="col-lg-4">
                <div class="Motors.box mt-3 mb-3">
                <mat-card class="card">
                    <mat-card-header>
                      <div  mat-card-avatar class="header-image"></div>
                      <mat-card-title><!--{{Motors.nome}}-->Shiba Inu</mat-card-title>
                    </mat-card-header >
                    <!--{{Motors.immagine_url}}-->
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                  
                <!--<div class="Motors.box mt-3 mb-3">
                    <img src="{{fd.Motors.Img}}">
                    <h1>{{fd.Motors.Name}}</h1>
                    <p>{{fd.Motors.Details}}</p>
                    <p>{{fd.Motors.Price | currency:'INR'}}</p>
                    <br/>
                    <a class="buybtn" [routerLink]="['/menu',fd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
                </div>-->
                
            </mat-card>
            </div>
    
        </div>
        <div class="col-lg-4">
            <div class="Motors.box mt-3 mb-3">
            <mat-card class="card">
                <mat-card-header>
                  <div  mat-card-avatar class="header-image"></div>
                  <mat-card-title><!--{{Motors.nome}}-->Shiba Inu</mat-card-title>
                </mat-card-header >
                <!--{{Motors.immagine_url}}-->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </mat-card>
        </div>
    
    </div>
    <div class="col-lg-4">
        <div class="Motors.box mt-3 mb-3">
        <mat-card class="card">
            <mat-card-header>
              <div  mat-card-avatar class="header-image"></div>
              <mat-card-title><!--{{Motors.nome}}-->Shiba Inu</mat-card-title>
            </mat-card-header >
            <!--{{Motors.immagine_url}}-->
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    </div>
    </div>
    
    </div>

